@import "../../../../assets/sass/variables.scss";
@import "../homeMixins.scss";

.genres {
  width: 87%;
  margin: 6em auto;

  &__heading {
    margin-bottom: 1em;
    font-weight: $sectionHeadingWeight;
    font-size: $sectionHeading;
  }

  @include homeResponsive;
}
