.nav-bar {
  display: flex;
  padding: 0 5em;
  height: 6em;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.192);

  &__links {
    margin: 0 1em;
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: -40%;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      background-color: black;
      transition: transform 0.3s;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__logo {
    height: 5em;
  }

  &__right-part {
    display: inherit;
  }

  &__menu-bar {
    height: 2em;
    display: none;
  }

  &__mobile {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease 0s;

    .nav-bar__close {
      position: absolute;
      top: 5%;
      right: 10%;
      height: 2em;
    }

    .nav-bar__links--white {
      color: white;
      text-decoration: none;
      font-weight: 500;
      margin: 1em 0;
    }
  }

  @media only screen and (max-width: 800px) {
    & {
      font-size: 12px;

      &__menu-bar {
        display: initial;
      }
    }

    &__left-part,
    &__right-part {
      display: none;
    }
  }
}
