.paypal-paiment {
  width: 35em;

  button {
    background-color: black;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 500;
    padding: 1em 0;
    margin: 2em 0;
    outline: none;
    cursor: pointer;
    width: 100%;
  }
}
