.products-slider {
  position: relative;
  height: 27em;
  overflow: hidden;

  &__left-control,
  &__right-control {
    height: 3em;
    width: 3em;
    padding: 0.5em;
    background-color: white;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }

  &__left-control {
    left: 15px;
  }
  &__right-control {
    right: 15px;
  }

  &__containner {
    display: flex;
    justify-content: space-between;
    width: 162em;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: left 1s ease;
  }
}
