.products-slider {
  position: relative;
  height: 27em;
  overflow: hidden;

  &__left-control,
  &__right-control {
    height: 2.5em;
    width: 2.5em;
    background-color: #f5f5f5;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 10;
  }

  &__left-control {
    left: 0;
  }
  &__right-control {
    right: 0;
  }

  &__containner {
    display: flex;
    width: 162em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 1s ease;
  }

  @media only screen and (max-width: 1490px) {
    font-size: 12px;
  }

  @media only screen and (max-width: 1120px) {
    font-size: 10px;
  }

  @media only screen and (max-width: 935px) {
    font-size: 8px;
  }

  @media only screen and (max-width: 750px) {
    font-size: 7spx;
  }
}
