@import "../../../../assets/sass/variables.scss";

.trending {
  width: 87%;
  margin: 0 auto;

  &__heading {
    margin-bottom: 1em;
    font-weight: $sectionHeadingWeight;
    font-size: $sectionHeading;
  }

  @media only screen and (max-width: 1490px) {
    font-size: 12px;
  }

  @media only screen and (max-width: 1120px) {
    font-size: 10px;
  }

  @media only screen and (max-width: 935px) {
    font-size: 8px;
  }

  @media only screen and (max-width: 750px) {
    font-size: 7px;
  }
}
