.search-result {
  width: 27em;

  span {
    color: gray;
    font-size: 0.9em;
  }

  p {
    margin: 0.5em 0;
    font-weight: 500;
    transform: translateX(13%);
    font-size: 1.1em;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}
