.product {
  height: 98%;
  width: 26em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0 0.5em;

  &:hover {
    opacity: 0.8;
  }

  &:nth-of-type(1) {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &__img-wrapper {
    height: 90%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    height: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;

    .product__name {
      font-weight: 700;
    }
  }
}
