.search--background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.342);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: back-search-in 1s ease;

  @keyframes back-search-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes back-search-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .search {
    width: 100%;
    height: 17em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: search-in 1s ease;

    @keyframes search-in {
      from {
        opacity: 0;
        transform: translateY(-100%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes search-out {
      from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(-100%);
      }
    }

    &__up-part {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30%;
      padding: 3em 2em;

      .search__logo {
        height: 5em;
      }

      .search__close-containner {
        background-color: whitesmoke;
        width: 2.5em;
        height: 2.5em;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .search__close-icon {
          height: 1.7em;
        }
      }
    }

    &__down-part {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 540px) {
    & {
      font-size: 8px;
    }
  }

  @media only screen and (max-width: 340px) {
    .search__logo {
      display: none;
    }
  }
}
