.bag {
  &__main {
    padding: 3em 0;
    width: 87%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 13px;
  }

  @media only screen and (max-width: 1000px) {
    &__main {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 550px) {
    font-size: 10px;
  }

  @media only screen and (max-width: 380px) {
    font-size: 8px;
  }
}
