@import "../../styles/mixin.scss";

.login--background {
  @include background-filter;

  .login {
    @include card-style;
    height: 35em;

    &__forgetPassword {
      cursor: pointer;
      transform: translateX(-80%);
      margin-bottom: 2.5em;
    }

    &__goToRegister {
      margin-top: 1.5em;

      span {
        text-decoration: underline;
        cursor: pointer;
        margin-left: 4px;
      }
    }
  }
}
