.search-input {
  width: 30em;
  height: 3em;
  border-radius: 30px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;

  &:hover {
    background-color: rgba(128, 128, 128, 0.219);
    transition: background-color 0.5s;
  }

  &__search-icon {
    height: 1.5em;
    cursor: pointer;
  }

  input {
    border: none;
    height: 100%;
    width: 80%;
    background-color: transparent;
    outline: none;
    font-size: 1em;
    font-weight: 500;
  }

  &__close-icon {
    height: 1.5em;
    cursor: pointer;
  }
}
